@keyframes friendAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes inAnimation {
  from {
    transform: translateX(-250px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes outAnimation {
  from {
    transform: translateX(250px);
  }
  to {
    transform: translateX(0);
  }
}
